#form{
    align-items: center;
    color: aqua;
    background-color: black;
    padding-left: 35%;
    padding-right: 30%;
    padding-top: 16%;
    padding-bottom: 17%;
   font-style:italic;
   font-size: large;
}