<p></p>

<div class="mb-3">
    <label>Alloted Time</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="morning">
        <label class="form-check-label">Morning (9Am - 12Pm)</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="Evening">
        <label class="form-check-label">Evening (2Pm - 5Pm)</label>
    </div>
</div>
<br>


<button type="submit" (click)="welcomestudent()">go to student </button>
<button type="submit" (click)="welcomehome()">go to home </button>