
<nav>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
    </div>
</nav>

<h1 style="text-align:center" class="home">Home Page</h1>
<h1>student</h1>
<div class="card-group my-2 mx-5">

<div class="card card text-bg-dark border-danger">
<div class="card-body">
  <h5 class="card-title">CREATE</h5>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <a routerLink="/studentcreate" class="btn btn-primary">Create student record</a>
</div>
</div>

<div class="card card text-bg-dark border-danger">
<div class="card-body">
  <h5 class="card-title">GET</h5>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <a routerLink="/studentget" class="btn btn-primary"> Get student record</a>
</div>
</div>

<div class="card card text-bg-dark border-danger">
<div class="card-body">
  <h5 class="card-title">DELETE</h5>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <a routerLink="/studentdelete" class="btn btn-primary">Delete Student record</a>
</div>
</div>

<div class="card card text-bg-dark border-danger">
<div class="card-body">
  <h5 class="card-title">UPDATE</h5>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <a routerLink="/studentupdate" class="btn btn-primary">Update student record</a>
</div>
</div>
</div>


<h1>Lab</h1>
<div class="card-group my-2 mx-5">
  
<div class="card card text-bg-dark border-danger">
<div class="card-body">
  <h5 class="card-title">CREATE</h5>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <a routerLink="/labcreate" class="btn btn-primary">Create lab record</a>
</div>
</div>

<div class="card card text-bg-dark border-danger">
<div class="card-body">
  <h5 class="card-title">GET</h5>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <a routerLink="/labget" class="btn btn-primary">Get lab record</a>
</div>
</div>

<div class="card card text-bg-dark border-danger">
<div class="card-body">
  <h5 class="card-title">DELETE</h5>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <a routerLink="/labdelete" class="btn btn-primary">Delete lab record</a>
</div>
</div>

<div class="card card text-bg-dark border-danger">
<div class="card-body">
  <h5 class="card-title">UPDATE</h5>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <a routerLink="/labupdate"  class="btn btn-primary">Update lab record</a>
</div>
</div>

</div>




<!-- <h1>this is home</h1>
<a routerLink="/studentcreate"> student create record</a><br><br>
<a routerLink="/studentget"> student get record</a><br><br>
<a routerLink="/studentdelete"> student del record</a><br><br>
<a routerLink="/studentupdate"> student update record</a><br><br>
<a routerLink="/labcreate">lab create record</a><br><br>
<a routerLink="/labdelete">lab delete record</a><br><br>
<a routerLink="/labget">lab get record</a><br><br>
<a routerLink="/labupdate">lab update record</a> -->
<!-- <button type="submit" (click)="onsubmit()">create</button>
<br>
<button type="submit" (click)="onsubmiting()">get</button> -->